# Données Temporelles
- module datetime (Python) conforme à la norme ISO 8601
    - class datetime : year, month, day, hour, minute, seconde, microsecond
    - class date :  year, month, day
    - class time : hour, minute, seconde, microsecond
    - class timedelta : durée, écart entre 2 données temporelles
    - classes tzinfo, timezone : fuseaux horaires
- numpy/pandas : datetime64 (meilleur précision: ns ou autre au choix)
- module tiers pytz : dictionnaire des fuseaux horaires Europe/Paris => (depuis python 3.9 module zoneinfo classe ZoneInfo)
- module tiers python-dateutil: relativedelta

In [98]:
from datetime import datetime, date, time, timedelta
from zoneinfo import ZoneInfo # depuis python 3.9
import pytz 
import pandas as pd
import json
import locale

## Heure système

In [9]:
# Maintenant, aujourd'hui
dt = datetime.now()
d = date.today()
t = dt.time()
print("Maintenant :", dt)
print("Aujourd'hui :", d)
print("Heure :", t)

Maintenant : 2025-09-26 09:37:25.448813
Aujourd'hui : 2025-09-26
Heure : 09:37:25.448813

In [7]:
type(dt)

datetime.datetime

In [8]:
type(d)

datetime.date

In [10]:
type(t)

datetime.time

In [12]:
print(dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond)
print(d.year, d.month, d.day)
print(t.hour, t.minute, t.second, t.microsecond)

2025 9 26 9 37 25 448813
2025 9 26
9 37 25 448813

## Constructeurs

In [17]:
# création d'objets à partir du constructeur
dt1 = datetime(2036, 4, 29, 2, 36)
dt2 = datetime(2024, 2, 29)
print(dt1)
print(dt2)

2036-04-29 02:36:00
2024-02-29 00:00:00

In [19]:
d1 = date(2000, 2, 29)
d2 = date(2004, 2, 29)
print(d1)
print(d2)

2000-02-29
2004-02-29

## Calculs avec `timedelta`

In [26]:
delta1 = dt1 - dt2
print(delta1)

4443 days, 2:36:00

In [27]:
delta2 = d2 - d1
print(delta2)

1461 days, 0:00:00

In [25]:
dt3 = dt + timedelta(days=3, hours=3)
print(dt3)

2025-09-29 12:37:25.448813

In [29]:
print(dt3) # utilise la vue textuelle str
dt3 # utilise la vue textuelle repr

2025-09-29 12:37:25.448813

datetime.datetime(2025, 9, 29, 12, 37, 25, 448813)

In [32]:
ville = 'Aujourd\'hui à Lyon: "gris et pluie"'
print(ville)
ville

Aujourd'hui à Lyon: "gris et pluie"

'Aujourd\'hui à Lyon: "gris et pluie"'

## Conversion et formats

In [40]:
file_path = "data/temporal/temporal-data.json"

with open(file_path, "r") as file:
    data = json.load(file)
print(data)

{'horodatage': '2025-09-26 09:00:00', 'evennement': 'stage Python'}

In [41]:
data['horodatage']

'2025-09-26 09:00:00'

In [42]:
data['horodatage'] = datetime.fromisoformat(data['horodatage'])
data

{'horodatage': datetime.datetime(2025, 9, 26, 9, 0),
 'evennement': 'stage Python'}

In [50]:
events = pd.read_csv(
    'data/temporal/temporal-data.csv', 
    sep=';', 
    encoding='CP1252',
    parse_dates=['Horodatage'],
    dayfirst=True
)
events

           Horodatage Evennement
0 2012-05-22 12:24:33    Piscine
1 2024-02-10 07:24:33    Footing
2 2024-10-02 19:24:33       Vélo

In [51]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Horodatage  3 non-null      datetime64[ns]
 1   Evennement  3 non-null      object
dtypes: datetime64[ns](1), object(1)
memory usage: 180.0+ bytes

In [53]:
events = pd.read_csv(
    'data/temporal/temporal-data.csv', 
    sep=';', 
    encoding='CP1252',
    parse_dates=['Horodatage'],
    date_format='%d/%m/%Y %H:%M:%S' # format de lecture
)
events # affichage (ISO format)

           Horodatage Evennement
0 2012-05-22 12:24:33    Piscine
1 2024-02-10 07:24:33    Footing
2 2024-10-02 19:24:33       Vélo

In [55]:
print(dt)                      # default ISO
print(f'{dt:%d/%m/%Y %H:%M}')  # format precisé

2025-09-26 09:37:25.448813
26/09/2025 09:37

In [60]:
dt5 = datetime.strptime('22/05/2012 12:24:33', '%d/%m/%Y %H:%M:%S')
dt5

datetime.datetime(2012, 5, 22, 12, 24, 33)

In [63]:
dt5.strftime('%Y-%m-%d à %H:%S')

'2012-05-22 à 12:33'

In [68]:
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')
print(f'{dt:%A %d %B %Y %HH%M}') # vendredi 26 septembre 2025 à 9H37

vendredi 26 septembre 2025 09H37

In [76]:
# Afficher la date en anglais, espagnol, français, allemand, suédois, japonais
locales = ['fr_FR', 'en_US', 'en_UK', 'es_ES', 'ca_ES', 'eu_ES', 'de_DE', 'sv_SE', 'ja_JP']
for loc in locales:
    locale.setlocale(locale.LC_ALL, f'{loc}.UTF-8')
    print(f'{dt:%A %d %B %Y %HH%M}  ({loc})')

vendredi 26 septembre 2025 09H37  (fr_FR)
Friday 26 September 2025 09H37  (en_US)
Friday 26 September 2025 09H37  (en_UK)
viernes 26 septiembre 2025 09H37  (es_ES)
divendres 26 setembre 2025 09H37  (ca_ES)
ostirala 26 iraila 2025 09H37  (eu_ES)
Freitag 26 September 2025 09H37  (de_DE)
fredag 26 september 2025 09H37  (sv_SE)
金曜日 26 9月 2025 09H37  (ja_JP)

In [80]:
events['Horodatage'].dt.year

0    2012
1    2024
2    2024
Name: Horodatage, dtype: int32

In [83]:
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')
col = events['Horodatage'].dt.strftime('%A %d %B %Y %HH%M')
col

0           mardi 22 mai 2012 12H24
1      samedi 10 février 2024 07H24
2    mercredi 02 octobre 2024 19H24
Name: Horodatage, dtype: object

In [84]:
events['Horodatage_fr'] = col
events

           Horodatage Evennement                   Horodatage_fr
0 2012-05-22 12:24:33    Piscine         mardi 22 mai 2012 12H24
1 2024-02-10 07:24:33    Footing    samedi 10 février 2024 07H24
2 2024-10-02 19:24:33       Vélo  mercredi 02 octobre 2024 19H24

## Fuseau horaires
![Fuseaux Horaires](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/World_Time_Zones_Map.svg/1920px-World_Time_Zones_Map.svg.png)

Source: Wikipedia

In [87]:
tz = pytz.timezone('Europe/Paris')
dt1 = datetime.now(tz=tz)
dt1

datetime.datetime(2025, 9, 26, 11, 59, 3, 442353, tzinfo=<DstTzInfo 'Europe/Paris' CEST+2:00:00 DST>)

In [90]:
dt2 = datetime(2024, 2, 29, 9, tzinfo=tz)
dt2

datetime.datetime(2024, 2, 29, 9, 0, tzinfo=<DstTzInfo 'Europe/Paris' LMT+0:09:00 STD>)

In [97]:
# Quelle heure est il (et quel jour) à Sydney, Tokyo, Los Angeles, Hawaï ?
timezones = [
    'Europe/Paris', 'Europe/Berlin', 'Europe/London', 
    'America/Los_Angeles', 
    'Australia/Sydney', 'Pacific/Honolulu',
    'Asia/Tokyo',
    'Pacific/Tongatapu',
    'US/Samoa',
    'Pacific/Kiritimati'
]
for tz_str in timezones:
    tz = pytz.timezone(tz_str)
    dt = datetime.now(tz=tz)
    print(tz_str, dt, sep=' : ')

Europe/Paris : 2025-09-26 12:15:54.292241+02:00
Europe/Berlin : 2025-09-26 12:15:54.292398+02:00
Europe/London : 2025-09-26 11:15:54.292429+01:00
America/Los_Angeles : 2025-09-26 03:15:54.292453-07:00
Australia/Sydney : 2025-09-26 20:15:54.292477+10:00
Pacific/Honolulu : 2025-09-26 00:15:54.292500-10:00
Asia/Tokyo : 2025-09-26 19:15:54.292521+09:00
Pacific/Tongatapu : 2025-09-26 23:15:54.292544+13:00
US/Samoa : 2025-09-25 23:15:54.292566-11:00
Pacific/Kiritimati : 2025-09-27 00:15:54.293059+14:00

In [99]:
# python 3.9
for tz_str in timezones:
    tz = ZoneInfo(tz_str)
    dt = datetime.now(tz=tz)
    print(tz_str, dt, sep=' : ')

Europe/Paris : 2025-09-26 12:21:10.736263+02:00
Europe/Berlin : 2025-09-26 12:21:10.745715+02:00
Europe/London : 2025-09-26 11:21:10.754914+01:00
America/Los_Angeles : 2025-09-26 03:21:10.764115-07:00
Australia/Sydney : 2025-09-26 20:21:10.772375+10:00
Pacific/Honolulu : 2025-09-26 00:21:10.783810-10:00
Asia/Tokyo : 2025-09-26 19:21:10.802175+09:00
Pacific/Tongatapu : 2025-09-26 23:21:10.814058+13:00
US/Samoa : 2025-09-25 23:21:10.821166-11:00
Pacific/Kiritimati : 2025-09-27 00:21:10.831267+14:00

In [101]:
date(dt1.year, dt1.month + 1, 1) - timedelta(days=1)

datetime.date(2025, 9, 30)