# Structures de données Python
- sequences: list, tuple, set
- dictionnaires: dict

In [123]:
import pandas as pd
import locale # paramètres de régionalisation (langue, pays, monnaie, tri, formats)

## Listes
- modifiable : ajout, modification, suppression
- iterable (parcours, boucle, ...)
- en général, homogénéité sur les éléments (pas obligatoire)

In [2]:
villes = ["Pau", "Toulouse", "Lyon", "Nantes"]
villes

['Pau', 'Toulouse', 'Lyon', 'Nantes']

In [3]:
type(villes)

list

In [4]:
villes.append("Paris")
villes

['Pau', 'Toulouse', 'Lyon', 'Nantes', 'Paris']

In [5]:
villes.extend(["Nice", "Strasbourg", "Bayonne"])
villes

['Pau', 'Toulouse', 'Lyon', 'Nantes', 'Paris', 'Nice', 'Strasbourg', 'Bayonne']

In [6]:
villes.extend(("Caen", "Brest"))
villes

['Pau',
 'Toulouse',
 'Lyon',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Caen',
 'Brest']

In [7]:
print(villes)

['Pau', 'Toulouse', 'Lyon', 'Nantes', 'Paris', 'Nice', 'Strasbourg', 'Bayonne', 'Caen', 'Brest']

### Accès en lecture

In [8]:
# première
villes[0]

'Pau'

In [9]:
# dernière
villes[-1]

'Brest'

In [10]:
# 3 premières
villes[:3]

['Pau', 'Toulouse', 'Lyon']

In [11]:
# 3 dernières
villes[-3:]

['Bayonne', 'Caen', 'Brest']

### Modifier avec l'opérateur `[]`

In [12]:
villes[-2] = "Toulon"
villes

['Pau',
 'Toulouse',
 'Lyon',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Toulon',
 'Brest']

In [13]:
# remplacer les 3 premières par 3 autres villes
villes[:3] = ["Biarritz", "Hendaye", "Dax"]
villes

['Biarritz',
 'Hendaye',
 'Dax',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Toulon',
 'Brest']

In [14]:
# remplacer les 2 dernières par Saintes, La Rochelle et Poitiers
villes[-2:]=['Saintes', 'La Rochelle', 'Poitiers']
villes

['Biarritz',
 'Hendaye',
 'Dax',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Saintes',
 'La Rochelle',
 'Poitiers']

In [15]:
# remplacer les 3 premières par Saint-Etienne
villes[:3] = ['Saint-Etienne']
villes

['Saint-Etienne',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Saintes',
 'La Rochelle',
 'Poitiers']

In [16]:
# supprimer les villes 2, 3, 4
villes[2:5] = []
villes

['Saint-Etienne', 'Nantes', 'Bayonne', 'Saintes', 'La Rochelle', 'Poitiers']

In [17]:
# supprimer les villes 1, 3 et 5
# villes[1:6:2] = [] # ValueError: attempt to assign sequence of size 0 to extended slice of size 3
del villes[1:6:2]
villes

['Saint-Etienne', 'Bayonne', 'La Rochelle']

In [18]:
# insérer les villes Rennes, Bordeaux et Montauban à la position 2
villes[2:2] = ['Rennes', 'Bordeaux', 'Montauban']
villes

['Saint-Etienne', 'Bayonne', 'Rennes', 'Bordeaux', 'Montauban', 'La Rochelle']

In [19]:
# mauvaises manips (liste hétérogène ou constituée de lettres à l'unité
# villes[2] = ['Rennes', 'Bordeaux', 'Montauban']
# villes[:2] = 'Saint-Remy-en-Bouzemont-Saint-Genest-et-Isson' # 1 str est iterable sur ses caractères
# villes

### Parcours d'une liste
- boucle `for`
- fonction de parcours prenant un iterable

In [20]:
print("Liste des villes : ")
for ville in villes:
    print(f"- {ville}")

Liste des villes :
- Saint-Etienne
- Bayonne
- Rennes
- Bordeaux
- Montauban
- La Rochelle

In [21]:
nombres = [12, 33, 45, 21, 207]
for n in nombres:
    print(n)

12
33
45
21
207

In [22]:
sum(nombres)

318

In [23]:
sum(nombres[:3])

90

In [24]:
sum(nombres, start=1000)

1318

In [25]:
# sum(villes, start='') # scenario interdit
', '.join(villes)

'Saint-Etienne, Bayonne, Rennes, Bordeaux, Montauban, La Rochelle'

In [26]:
# TODO: convertir chaque element en str avant le join
# ', '.join(nombres)

In [27]:
print(villes)
min(villes), max(villes)

['Saint-Etienne', 'Bayonne', 'Rennes', 'Bordeaux', 'Montauban', 'La Rochelle']

('Bayonne', 'Saint-Etienne')

In [28]:
min(nombres), max(nombres)

(12, 207)

In [29]:
villes.extend([
    "Chambéry",
    "Châteauroux",
    "Montélimard",
    "Cholet",
    "L'Haÿ-les-Roses",
])
villes

['Saint-Etienne',
 'Bayonne',
 'Rennes',
 'Bordeaux',
 'Montauban',
 'La Rochelle',
 'Chambéry',
 'Châteauroux',
 'Montélimard',
 'Cholet',
 "L'Haÿ-les-Roses"]

### Tri

In [30]:
# Tri => nouvelle liste, valable pour n'importe quelle source iterable
villes2 = sorted(villes)
villes2

['Bayonne',
 'Bordeaux',
 'Chambéry',
 'Cholet',
 'Châteauroux',
 "L'Haÿ-les-Roses",
 'La Rochelle',
 'Montauban',
 'Montélimard',
 'Rennes',
 'Saint-Etienne']

In [31]:
# Tri en place
villes.sort()

In [32]:
villes

['Bayonne',
 'Bordeaux',
 'Chambéry',
 'Cholet',
 'Châteauroux',
 "L'Haÿ-les-Roses",
 'La Rochelle',
 'Montauban',
 'Montélimard',
 'Rennes',
 'Saint-Etienne']

In [33]:
sorted(nombres)

[12, 21, 33, 45, 207]

In [34]:
sorted(nombres, reverse=True)

[207, 45, 33, 21, 12]

In [35]:
locale.LC_COLLATE

1

In [36]:
locale.getlocale(locale.LC_COLLATE)

(None, None)

In [37]:
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')
locale.getlocale(locale.LC_COLLATE)

('fr_FR', 'UTF-8')

In [38]:
sorted(villes, key=locale.strxfrm)

['Bayonne',
 'Bordeaux',
 'Chambéry',
 'Châteauroux',
 'Cholet',
 'La Rochelle',
 "L'Haÿ-les-Roses",
 'Montauban',
 'Montélimard',
 'Rennes',
 'Saint-Etienne']

In [39]:
words_fr = ["cœur", "cobra", "corde", "garçon", "garce", "garde", "été", "étuve", "étage","arbre", "Zèbre"]
words_es = ["mañana", "mano", "matador"]

In [40]:
sorted(words_fr, key=locale.strxfrm)

['arbre',
 'cobra',
 'cœur',
 'corde',
 'étage',
 'été',
 'étuve',
 'garce',
 'garçon',
 'garde',
 'Zèbre']

In [41]:
locale.setlocale(locale.LC_ALL, 'es_ES.utf8')
sorted(words_es, key=locale.strxfrm)

['mano', 'mañana', 'matador']

In [42]:
'Straße'.upper()

'STRASSE'

In [43]:
# NB: clavier emoji Windows: Windows ;
words_int = ["L'Haÿ-les-Roses", "東京", "Москва", "🦜🍻💕🤣"]
sorted(words_int)

["L'Haÿ-les-Roses", 'Москва', '東京', '🦜🍻💕🤣']

In [44]:
# Le а ciryllique n'est pas le même que le a latin
"а" == "a"

False

In [45]:
# mettre en majuscule (affichage ou nouvelle liste):
# - la liste des villes
# - la liste des mots internationaux

In [46]:
print("Villes :")
for ville in villes:
    ville_u = ville.upper()
    print(f"  - {ville_u}")
print("** fin liste **")

Villes :
  - BAYONNE
  - BORDEAUX
  - CHAMBÉRY
  - CHOLET
  - CHÂTEAUROUX
  - L'HAŸ-LES-ROSES
  - LA ROCHELLE
  - MONTAUBAN
  - MONTÉLIMARD
  - RENNES
  - SAINT-ETIENNE
** fin liste **

In [47]:
for word in words_int:
    print(word.upper())

L'HAŸ-LES-ROSES
東京
МОСКВА
🦜🍻💕🤣

In [48]:
# garder les villes en majuscule en mémoire: recette oldschool
villes_u = []
for ville in villes:
    ville_u = ville.upper()
    villes_u.append(ville_u)
villes_u

['BAYONNE',
 'BORDEAUX',
 'CHAMBÉRY',
 'CHOLET',
 'CHÂTEAUROUX',
 "L'HAŸ-LES-ROSES",
 'LA ROCHELLE',
 'MONTAUBAN',
 'MONTÉLIMARD',
 'RENNES',
 'SAINT-ETIENNE']

In [49]:
# list comprehension = "expression for" entre []
villes_u = [ville.upper() for ville in villes]
villes_u

['BAYONNE',
 'BORDEAUX',
 'CHAMBÉRY',
 'CHOLET',
 'CHÂTEAUROUX',
 "L'HAŸ-LES-ROSES",
 'LA ROCHELLE',
 'MONTAUBAN',
 'MONTÉLIMARD',
 'RENNES',
 'SAINT-ETIENNE']

In [50]:
[x**2 for x in nombres]

[144, 1089, 2025, 441, 42849]

In [51]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
# expression for en paramètre d'une fonction (sum, min, max, list, ...)
# - pas de liste intermédiaire
# - traitement au fil de l'eau
s = sum(x**2 for x in range(10))
s

285

In [53]:
s2 = sum((x**2 for x in range(10)), start=1000)
s2

1285

In [54]:
g = (x**2 for x in range(10))
g

In [55]:
# nouvelle valeur ... jusqu'à l'exception StopIteration
next(g)

0

## Range
- iterable

In [56]:
range(10)

range(0, 10)

In [57]:
range(4,10)

range(4, 10)

In [58]:
range(10, -1, -1)

range(10, -1, -1)

In [59]:
sum(range(10)) # 0 + 1 + 2 + ... + 9

45

In [60]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
for i in range(10, -1, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1 0

In [62]:
list(range(4, 15, 2))

[4, 6, 8, 10, 12, 14]

In [63]:
# afficher la liste triées des villes en numérotant les lignes de 1 à n

In [64]:
# 1ere solution
villes.sort()
i = 0
for ville in villes:
    i += 1
    print(f"{i:02d} - {ville}")

01 - Bayonne
02 - Bordeaux
03 - Chambéry
04 - Cholet
05 - Châteauroux
06 - L'Haÿ-les-Roses
07 - La Rochelle
08 - Montauban
09 - Montélimard
10 - Rennes
11 - Saint-Etienne

In [65]:
# 2e solution avec range
villes.sort()
for i in range(len(villes)):
    print(f"{i+1:02d} - {villes[i]}")

01 - Bayonne
02 - Bordeaux
03 - Chambéry
04 - Cholet
05 - Châteauroux
06 - L'Haÿ-les-Roses
07 - La Rochelle
08 - Montauban
09 - Montélimard
10 - Rennes
11 - Saint-Etienne

In [66]:
# 3e solution : enumerate
villes.sort()
for i, ville in enumerate(villes, start=1):
    print(f"{i:02d} - {ville}")

01 - Bayonne
02 - Bordeaux
03 - Chambéry
04 - Cholet
05 - Châteauroux
06 - L'Haÿ-les-Roses
07 - La Rochelle
08 - Montauban
09 - Montélimard
10 - Rennes
11 - Saint-Etienne

In [67]:
list(enumerate(villes, start=1))

[(1, 'Bayonne'),
 (2, 'Bordeaux'),
 (3, 'Chambéry'),
 (4, 'Cholet'),
 (5, 'Châteauroux'),
 (6, "L'Haÿ-les-Roses"),
 (7, 'La Rochelle'),
 (8, 'Montauban'),
 (9, 'Montélimard'),
 (10, 'Rennes'),
 (11, 'Saint-Etienne')]

In [68]:
for i, l, ville in zip(range(1, len(villes) + 1), 'abcdefghiklmnopqrstuvwxyz', villes):
    print(f'{i}{l} - {ville}')

1a - Bayonne
2b - Bordeaux
3c - Chambéry
4d - Cholet
5e - Châteauroux
6f - L'Haÿ-les-Roses
7g - La Rochelle
8h - Montauban
9i - Montélimard
10k - Rennes
11l - Saint-Etienne

## Filtrer les données

In [69]:
for ville in villes:
    if ville.startswith('C'):
        print(ville)

Chambéry
Cholet
Châteauroux

In [70]:
for ville in villes:
    if ville.startswith('C'):
        print(ville)
    else:
        print('* SKIP *')

* SKIP *
* SKIP *
Chambéry
Cholet
Châteauroux
* SKIP *
* SKIP *
* SKIP *
* SKIP *
* SKIP *
* SKIP *

In [71]:
villes.append('Bordes')
for ville in villes:
    if ville.startswith('B'):
        print('Ville commençant par B :', ville)
    elif ville.endswith('s'):
        print('Ville finissant par s :', ville)
    else:
        print('Ville commençant par autre chose :', ville)

Ville commençant par B : Bayonne
Ville commençant par B : Bordeaux
Ville commençant par autre chose : Chambéry
Ville commençant par autre chose : Cholet
Ville commençant par autre chose : Châteauroux
Ville finissant par s : L'Haÿ-les-Roses
Ville commençant par autre chose : La Rochelle
Ville commençant par autre chose : Montauban
Ville commençant par autre chose : Montélimard
Ville finissant par s : Rennes
Ville commençant par autre chose : Saint-Etienne
Ville commençant par B : Bordes

In [72]:
# Python 3.10+: match .. case
# https://peps.python.org/pep-0636/
for ville in villes:
    match ville[0]:
        case 'A' | 'B' | 'C':
            print('Ville ABC:', ville)
        case 'R' | 'S':
            print('Ville RS:', ville)
        case 'L':
            print('Ville L:', ville)
        case _:
            print('Ville autre:', ville)

Ville ABC: Bayonne
Ville ABC: Bordeaux
Ville ABC: Chambéry
Ville ABC: Cholet
Ville ABC: Châteauroux
Ville L: L'Haÿ-les-Roses
Ville L: La Rochelle
Ville autre: Montauban
Ville autre: Montélimard
Ville RS: Rennes
Ville RS: Saint-Etienne
Ville ABC: Bordes

In [73]:
[ville for ville in villes if ville.startswith('C')]

['Chambéry', 'Cholet', 'Châteauroux']

In [74]:
[ville[:8] for ville in villes if ville.startswith('C')]

['Chambéry', 'Cholet', 'Châteaur']

In [75]:
ville = villes[0]
ville.upper() if ville[0] <= 'M' else ville.lower()

'BAYONNE'

In [76]:
# faire ça pour toutes les villes => nouvelle liste
[
    (ville.upper() if ville <= 'M' else ville.lower()) 
    for ville in villes
]

['BAYONNE',
 'BORDEAUX',
 'CHAMBÉRY',
 'CHOLET',
 'CHÂTEAUROUX',
 "L'HAŸ-LES-ROSES",
 'LA ROCHELLE',
 'montauban',
 'montélimard',
 'rennes',
 'saint-etienne',
 'BORDES']

In [77]:
[
    (ville.upper() if ville <= 'M' else ville.lower()) 
    for ville in villes
    if len(ville) < 10
]

['BAYONNE', 'BORDEAUX', 'CHAMBÉRY', 'CHOLET', 'montauban', 'rennes', 'BORDES']

## Tuple
- cousin de la liste
- NON modifiable
- on peut accepter des données hétérogènes

In [78]:
ville_t1 = ('Toulouse', 511_684, '31')
ville_t2 = 'Pau', 78_620, '64'

In [79]:
print(ville_t1)
print(ville_t2)

('Toulouse', 511684, '31')
('Pau', 78620, '64')

In [80]:
len(ville_t1)

3

In [81]:
ville_t1[0]

'Toulouse'

In [82]:
# ville_t1[1] += 1000 # TypeError: 'tuple' object does not support item assignment
# => construire un nouveau tuple
ville_t1 = (ville_t1[0], ville_t1[1] + 1000, ville_t1[2])
ville_t1

('Toulouse', 512684, '31')

In [83]:
# peu de méthodes
ville_t1.index('31')

2

In [84]:
# avantage: sémantique à chaque case
# 0 : nom
# 1 : population
# 2 : dept
ville_t1: tuple[str, int, str] = ('Toulouse', 511_684, '31')

In [85]:
for ville_t in ville_t1, ville_t2:
    print(f'Nom : {ville_t[0]}, population : {ville_t[1]}, département : {ville_t[2]}')

Nom : Toulouse, population : 511684, département : 31
Nom : Pau, population : 78620, département : 64

In [86]:
ville_t1, ville_t2

(('Toulouse', 511684, '31'), ('Pau', 78620, '64'))

In [87]:
for nom, population, dept in ville_t1, ville_t2:
    print(f'Nom : {nom}, population : {population}, département : {dept}')

Nom : Toulouse, population : 511684, département : 31
Nom : Pau, population : 78620, département : 64

In [88]:
nom, population, dept = ville_t1 # unpack
f'Nom : {nom}, population : {population}, département : {dept}'

'Nom : Toulouse, population : 511684, département : 31'

In [89]:
# ValueError: not enough values to unpack (expected 4, got 3)
# nom, population, dept, region = ville_t1 # unpack

# ValueError: too many values to unpack (expected 2)
# nom, population = ville_t1 # unpack

nom, _, dept = ville_t1 # unpack
f'Nom : {nom}, département : {dept}'

'Nom : Toulouse, département : 31'

In [90]:
for nom, _, dept in ville_t1, ville_t2:
    print(f'Nom : {nom}, département : {dept}')

Nom : Toulouse, département : 31
Nom : Pau, département : 64

## Dictionnaires: dict
- organisation clé/valeur
- modifiable
- iterable (3 parcours)

In [91]:
ville_d = { 
    'nom': 'Toulouse',
    'population': 511_684,
    'departement': '31'
}
ville_d

{'nom': 'Toulouse', 'population': 511684, 'departement': '31'}

In [92]:
ville_d['nom']

'Toulouse'

In [93]:
# KeyError: 'pays'
# ville_d['pays']

In [94]:
ville_d['population'] = 600_000
ville_d

{'nom': 'Toulouse', 'population': 600000, 'departement': '31'}

In [95]:
ville_d['population'] += 1350
ville_d

{'nom': 'Toulouse', 'population': 601350, 'departement': '31'}

In [96]:
# ajout info
ville_d['pays'] = 'France'
ville_d

{'nom': 'Toulouse',
 'population': 601350,
 'departement': '31',
 'pays': 'France'}

In [97]:
len(ville_d)

4

In [98]:
del ville_d['pays']
ville_d

{'nom': 'Toulouse', 'population': 601350, 'departement': '31'}

In [99]:
# clé présente ?
'pays' in ville_d

False

In [100]:
for nom_info in ville_d.keys():
    print(nom_info)

nom
population
departement

In [101]:
# l'itération par défaut se fait sur les clés
for nom_info in ville_d:
    print(nom_info)

nom
population
departement

In [102]:
for info in ville_d.values():
    print(info)

Toulouse
601350
31

In [103]:
for nom_info, valeur_info in ville_d.items():
    print(nom_info, valeur_info, sep=' : ')

nom : Toulouse
population : 601350
departement : 31

## Atelier: liste de villes en tant que dictionnaire

In [110]:
villes_d = [
    {
        'nom': 'Toulouse', 
        'population': 601350, 
        'departement': '31',
    },
    {
        'nom': 'Pau', 
        'population': 78_620, 
        'departement': '64',
    },
    {
        'nom': 'Nantes', 
        'population': 325_070, 
        'departement': '44',
    },
]
villes_d

[{'nom': 'Toulouse', 'population': 601350, 'departement': '31'},
 {'nom': 'Pau', 'population': 78620, 'departement': '64'},
 {'nom': 'Nantes', 'population': 325070, 'departement': '44'}]

In [112]:
# ajouter Lyon avec sa poulation 500k et son département 69
villes_d.append(
    {
        'nom': 'Lyon', 
        'population': 500_000, 
        'departement': '69',
    }
)
villes_d

[{'nom': 'Toulouse', 'population': 601350, 'departement': '31'},
 {'nom': 'Pau', 'population': 78620, 'departement': '64'},
 {'nom': 'Nantes', 'population': 325070, 'departement': '44'},
 {'nom': 'Lyon', 'population': 500000, 'departement': '69'}]

In [116]:
# Parcourir la liste et afficher de manière lisible chaque ville avec ses caractéristiques
for ville_d in villes_d:
    print(f"{ville_d['nom']}, population = {ville_d['population']}, département = {ville_d['departement']}")

Toulouse, population = 601350, département = 31
Pau, population = 78620, département = 64
Nantes, population = 325070, département = 44
Lyon, population = 500000, département = 69

In [118]:
# extraire les villes de plus de 500k habitants
villes500k = [ville_d for ville_d in villes_d if ville_d['population'] >= 500_000]
villes500k

[{'nom': 'Toulouse', 'population': 601350, 'departement': '31'},
 {'nom': 'Lyon', 'population': 500000, 'departement': '69'}]

In [119]:
# uniquement les noms des villes de plus de 500k
noms_ville_500k = [ville_d['nom'] for ville_d in villes_d if ville_d['population'] >= 500_000]
noms_ville_500k

['Toulouse', 'Lyon']

In [124]:
# les noms et population (comme tuple) des villes de plus de 500k
liste_nom_pop_ville_500k = [
    (ville_d['nom'], ville_d['population'])
    for ville_d in villes_d 
    if ville_d['population'] >= 500_000
]s
liste_nom_pop_ville_500k

[('Toulouse', 601350), ('Lyon', 500000)]

In [125]:
df = pd.DataFrame(villes_d)
df

        nom  population departement
0  Toulouse      601350          31
1       Pau       78620          64
2    Nantes      325070          44
3      Lyon      500000          69