# Structures de donn√©es Python
- sequences: list, tuple, set
- dictionnaires: dict

In [1]:
import locale # param√®tres de r√©gionalisation (langue, pays, monnaie, tri, formats)

## Listes
- modifiable : ajout, modification, suppression
- iterable (parcours, boucle, ...)
- en g√©n√©ral, homog√©n√©it√© sur les √©l√©ments (pas obligatoire)

In [2]:
villes = ["Pau", "Toulouse", "Lyon", "Nantes"]
villes

['Pau', 'Toulouse', 'Lyon', 'Nantes']

In [3]:
type(villes)

list

In [4]:
villes.append("Paris")
villes

['Pau', 'Toulouse', 'Lyon', 'Nantes', 'Paris']

In [5]:
villes.extend(["Nice", "Strasbourg", "Bayonne"])
villes

['Pau', 'Toulouse', 'Lyon', 'Nantes', 'Paris', 'Nice', 'Strasbourg', 'Bayonne']

In [6]:
villes.extend(("Caen", "Brest"))
villes

['Pau',
 'Toulouse',
 'Lyon',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Caen',
 'Brest']

In [7]:
print(villes)

['Pau', 'Toulouse', 'Lyon', 'Nantes', 'Paris', 'Nice', 'Strasbourg', 'Bayonne', 'Caen', 'Brest']

### Acc√®s en lecture

In [8]:
# premi√®re
villes[0]

'Pau'

In [9]:
# derni√®re
villes[-1]

'Brest'

In [10]:
# 3 premi√®res
villes[:3]

['Pau', 'Toulouse', 'Lyon']

In [11]:
# 3 derni√®res
villes[-3:]

['Bayonne', 'Caen', 'Brest']

### Modifier avec l'op√©rateur `[]`

In [12]:
villes[-2] = "Toulon"
villes

['Pau',
 'Toulouse',
 'Lyon',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Toulon',
 'Brest']

In [13]:
# remplacer les 3 premi√®res par 3 autres villes
villes[:3] = ["Biarritz", "Hendaye", "Dax"]
villes

['Biarritz',
 'Hendaye',
 'Dax',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Toulon',
 'Brest']

In [14]:
# remplacer les 2 derni√®res par Saintes, La Rochelle et Poitiers
villes[-2:]=['Saintes', 'La Rochelle', 'Poitiers']
villes

['Biarritz',
 'Hendaye',
 'Dax',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Saintes',
 'La Rochelle',
 'Poitiers']

In [15]:
# remplacer les 3 premi√®res par Saint-Etienne
villes[:3] = ['Saint-Etienne']
villes

['Saint-Etienne',
 'Nantes',
 'Paris',
 'Nice',
 'Strasbourg',
 'Bayonne',
 'Saintes',
 'La Rochelle',
 'Poitiers']

In [16]:
# supprimer les villes 2, 3, 4
villes[2:5] = []
villes

['Saint-Etienne', 'Nantes', 'Bayonne', 'Saintes', 'La Rochelle', 'Poitiers']

In [17]:
# supprimer les villes 1, 3 et 5
# villes[1:6:2] = [] # ValueError: attempt to assign sequence of size 0 to extended slice of size 3
del villes[1:6:2]
villes

['Saint-Etienne', 'Bayonne', 'La Rochelle']

In [18]:
# ins√©rer les villes Rennes, Bordeaux et Montauban √† la position 2
villes[2:2] = ['Rennes', 'Bordeaux', 'Montauban']
villes

['Saint-Etienne', 'Bayonne', 'Rennes', 'Bordeaux', 'Montauban', 'La Rochelle']

In [19]:
# mauvaises manips (liste h√©t√©rog√®ne ou constitu√©e de lettres √† l'unit√©
# villes[2] = ['Rennes', 'Bordeaux', 'Montauban']
# villes[:2] = 'Saint-Remy-en-Bouzemont-Saint-Genest-et-Isson' # 1 str est iterable sur ses caract√®res
# villes

### Parcours d'une liste
- boucle `for`
- fonction de parcours prenant un iterable

In [20]:
print("Liste des villes : ")
for ville in villes:
    print(f"- {ville}")

Liste des villes :
- Saint-Etienne
- Bayonne
- Rennes
- Bordeaux
- Montauban
- La Rochelle

In [21]:
nombres = [12, 33, 45, 21, 207]
for n in nombres:
    print(n)

12
33
45
21
207

In [22]:
sum(nombres)

318

In [23]:
sum(nombres[:3])

90

In [24]:
sum(nombres, start=1000)

1318

In [25]:
# sum(villes, start='') # scenario interdit
', '.join(villes)

'Saint-Etienne, Bayonne, Rennes, Bordeaux, Montauban, La Rochelle'

In [26]:
# TODO: convertir chaque element en str avant le join
# ', '.join(nombres)

In [27]:
print(villes)
min(villes), max(villes)

['Saint-Etienne', 'Bayonne', 'Rennes', 'Bordeaux', 'Montauban', 'La Rochelle']

('Bayonne', 'Saint-Etienne')

In [28]:
min(nombres), max(nombres)

(12, 207)

In [29]:
villes.extend([
    "Chamb√©ry",
    "Ch√¢teauroux",
    "Mont√©limard",
    "Cholet",
    "L'Ha√ø-les-Roses",
])
villes

['Saint-Etienne',
 'Bayonne',
 'Rennes',
 'Bordeaux',
 'Montauban',
 'La Rochelle',
 'Chamb√©ry',
 'Ch√¢teauroux',
 'Mont√©limard',
 'Cholet',
 "L'Ha√ø-les-Roses"]

### Tri

In [30]:
# Tri => nouvelle liste, valable pour n'importe quelle source iterable
villes2 = sorted(villes)
villes2

['Bayonne',
 'Bordeaux',
 'Chamb√©ry',
 'Cholet',
 'Ch√¢teauroux',
 "L'Ha√ø-les-Roses",
 'La Rochelle',
 'Montauban',
 'Mont√©limard',
 'Rennes',
 'Saint-Etienne']

In [31]:
# Tri en place
villes.sort()

In [32]:
villes

['Bayonne',
 'Bordeaux',
 'Chamb√©ry',
 'Cholet',
 'Ch√¢teauroux',
 "L'Ha√ø-les-Roses",
 'La Rochelle',
 'Montauban',
 'Mont√©limard',
 'Rennes',
 'Saint-Etienne']

In [33]:
sorted(nombres)

[12, 21, 33, 45, 207]

In [34]:
sorted(nombres, reverse=True)

[207, 45, 33, 21, 12]

In [35]:
locale.LC_COLLATE

1

In [36]:
locale.getlocale(locale.LC_COLLATE)

(None, None)

In [37]:
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')
locale.getlocale(locale.LC_COLLATE)

('fr_FR', 'UTF-8')

In [38]:
sorted(villes, key=locale.strxfrm)

['Bayonne',
 'Bordeaux',
 'Chamb√©ry',
 'Ch√¢teauroux',
 'Cholet',
 'La Rochelle',
 "L'Ha√ø-les-Roses",
 'Montauban',
 'Mont√©limard',
 'Rennes',
 'Saint-Etienne']

In [39]:
words_fr = ["c≈ìur", "cobra", "corde", "gar√ßon", "garce", "garde", "√©t√©", "√©tuve", "√©tage","arbre", "Z√®bre"]
words_es = ["ma√±ana", "mano", "matador"]

In [40]:
sorted(words_fr, key=locale.strxfrm)

['arbre',
 'cobra',
 'c≈ìur',
 'corde',
 '√©tage',
 '√©t√©',
 '√©tuve',
 'garce',
 'gar√ßon',
 'garde',
 'Z√®bre']

In [41]:
locale.setlocale(locale.LC_ALL, 'es_ES.utf8')
sorted(words_es, key=locale.strxfrm)

['mano', 'ma√±ana', 'matador']

In [42]:
'Stra√üe'.upper()

'STRASSE'

In [43]:
# NB: clavier emoji Windows: Windows ;
words_int = ["L'Ha√ø-les-Roses", "Êù±‰∫¨", "–ú–æ—Å–∫–≤–∞", "ü¶úüçªüíïü§£"]
sorted(words_int)

["L'Ha√ø-les-Roses", '–ú–æ—Å–∫–≤–∞', 'Êù±‰∫¨', 'ü¶úüçªüíïü§£']

In [44]:
# Le –∞ ciryllique n'est pas le m√™me que le a latin
"–∞" == "a"

False

In [45]:
# mettre en majuscule (affichage ou nouvelle liste):
# - la liste des villes
# - la liste des mots internationaux

In [46]:
print("Villes :")
for ville in villes:
    ville_u = ville.upper()
    print(f"  - {ville_u}")
print("** fin liste **")

Villes :
  - BAYONNE
  - BORDEAUX
  - CHAMB√âRY
  - CHOLET
  - CH√ÇTEAUROUX
  - L'HA≈∏-LES-ROSES
  - LA ROCHELLE
  - MONTAUBAN
  - MONT√âLIMARD
  - RENNES
  - SAINT-ETIENNE
** fin liste **

In [47]:
for word in words_int:
    print(word.upper())

L'HA≈∏-LES-ROSES
Êù±‰∫¨
–ú–û–°–ö–í–ê
ü¶úüçªüíïü§£

In [48]:
# garder les villes en majuscule en m√©moire: recette oldschool
villes_u = []
for ville in villes:
    ville_u = ville.upper()
    villes_u.append(ville_u)
villes_u

['BAYONNE',
 'BORDEAUX',
 'CHAMB√âRY',
 'CHOLET',
 'CH√ÇTEAUROUX',
 "L'HA≈∏-LES-ROSES",
 'LA ROCHELLE',
 'MONTAUBAN',
 'MONT√âLIMARD',
 'RENNES',
 'SAINT-ETIENNE']

In [49]:
# list comprehension = "expression for" entre []
villes_u = [ville.upper() for ville in villes]
villes_u

['BAYONNE',
 'BORDEAUX',
 'CHAMB√âRY',
 'CHOLET',
 'CH√ÇTEAUROUX',
 "L'HA≈∏-LES-ROSES",
 'LA ROCHELLE',
 'MONTAUBAN',
 'MONT√âLIMARD',
 'RENNES',
 'SAINT-ETIENNE']

In [50]:
[x**2 for x in nombres]

[144, 1089, 2025, 441, 42849]

In [51]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
# expression for en param√®tre d'une fonction (sum, min, max, list, ...)
# - pas de liste interm√©diaire
# - traitement au fil de l'eau
s = sum(x**2 for x in range(10))
s

285

In [53]:
s2 = sum((x**2 for x in range(10)), start=1000)
s2

1285

In [54]:
g = (x**2 for x in range(10))
g

In [55]:
# nouvelle valeur ... jusqu'√† l'exception StopIteration
next(g)

0

## Range
- iterable

In [56]:
range(10)

range(0, 10)

In [57]:
range(4,10)

range(4, 10)

In [58]:
range(10, -1, -1)

range(10, -1, -1)

In [59]:
sum(range(10)) # 0 + 1 + 2 + ... + 9

45

In [60]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
for i in range(10, -1, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1 0

In [62]:
list(range(4, 15, 2))

[4, 6, 8, 10, 12, 14]

In [63]:
# afficher la liste tri√©es des villes en num√©rotant les lignes de 1 √† n

In [64]:
# 1ere solution
villes.sort()
i = 0
for ville in villes:
    i += 1
    print(f"{i:02d} - {ville}")

01 - Bayonne
02 - Bordeaux
03 - Chamb√©ry
04 - Cholet
05 - Ch√¢teauroux
06 - L'Ha√ø-les-Roses
07 - La Rochelle
08 - Montauban
09 - Mont√©limard
10 - Rennes
11 - Saint-Etienne

In [65]:
# 2e solution avec range
villes.sort()
for i in range(len(villes)):
    print(f"{i+1:02d} - {villes[i]}")

01 - Bayonne
02 - Bordeaux
03 - Chamb√©ry
04 - Cholet
05 - Ch√¢teauroux
06 - L'Ha√ø-les-Roses
07 - La Rochelle
08 - Montauban
09 - Mont√©limard
10 - Rennes
11 - Saint-Etienne

In [66]:
# 3e solution : enumerate
villes.sort()
for i, ville in enumerate(villes, start=1):
    print(f"{i:02d} - {ville}")

01 - Bayonne
02 - Bordeaux
03 - Chamb√©ry
04 - Cholet
05 - Ch√¢teauroux
06 - L'Ha√ø-les-Roses
07 - La Rochelle
08 - Montauban
09 - Mont√©limard
10 - Rennes
11 - Saint-Etienne

In [67]:
list(enumerate(villes, start=1))

[(1, 'Bayonne'),
 (2, 'Bordeaux'),
 (3, 'Chamb√©ry'),
 (4, 'Cholet'),
 (5, 'Ch√¢teauroux'),
 (6, "L'Ha√ø-les-Roses"),
 (7, 'La Rochelle'),
 (8, 'Montauban'),
 (9, 'Mont√©limard'),
 (10, 'Rennes'),
 (11, 'Saint-Etienne')]

In [68]:
for i, l, ville in zip(range(1, len(villes) + 1), 'abcdefghiklmnopqrstuvwxyz', villes):
    print(f'{i}{l} - {ville}')

1a - Bayonne
2b - Bordeaux
3c - Chamb√©ry
4d - Cholet
5e - Ch√¢teauroux
6f - L'Ha√ø-les-Roses
7g - La Rochelle
8h - Montauban
9i - Mont√©limard
10k - Rennes
11l - Saint-Etienne

## Filtrer les donn√©es

In [69]:
for ville in villes:
    if ville.startswith('C'):
        print(ville)

Chamb√©ry
Cholet
Ch√¢teauroux

In [70]:
for ville in villes:
    if ville.startswith('C'):
        print(ville)
    else:
        print('* SKIP *')

* SKIP *
* SKIP *
Chamb√©ry
Cholet
Ch√¢teauroux
* SKIP *
* SKIP *
* SKIP *
* SKIP *
* SKIP *
* SKIP *

In [71]:
villes.append('Bordes')
for ville in villes:
    if ville.startswith('B'):
        print('Ville commen√ßant par B :', ville)
    elif ville.endswith('s'):
        print('Ville finissant par s :', ville)
    else:
        print('Ville commen√ßant par autre chose :', ville)

Ville commen√ßant par B : Bayonne
Ville commen√ßant par B : Bordeaux
Ville commen√ßant par autre chose : Chamb√©ry
Ville commen√ßant par autre chose : Cholet
Ville commen√ßant par autre chose : Ch√¢teauroux
Ville finissant par s : L'Ha√ø-les-Roses
Ville commen√ßant par autre chose : La Rochelle
Ville commen√ßant par autre chose : Montauban
Ville commen√ßant par autre chose : Mont√©limard
Ville finissant par s : Rennes
Ville commen√ßant par autre chose : Saint-Etienne
Ville commen√ßant par B : Bordes

In [72]:
# Python 3.10+: match .. case
# https://peps.python.org/pep-0636/
for ville in villes:
    match ville[0]:
        case 'A' | 'B' | 'C':
            print('Ville ABC:', ville)
        case 'R' | 'S':
            print('Ville RS:', ville)
        case 'L':
            print('Ville L:', ville)
        case _:
            print('Ville autre:', ville)

Ville ABC: Bayonne
Ville ABC: Bordeaux
Ville ABC: Chamb√©ry
Ville ABC: Cholet
Ville ABC: Ch√¢teauroux
Ville L: L'Ha√ø-les-Roses
Ville L: La Rochelle
Ville autre: Montauban
Ville autre: Mont√©limard
Ville RS: Rennes
Ville RS: Saint-Etienne
Ville ABC: Bordes

In [73]:
[ville for ville in villes if ville.startswith('C')]

['Chamb√©ry', 'Cholet', 'Ch√¢teauroux']

In [74]:
[ville[:8] for ville in villes if ville.startswith('C')]

['Chamb√©ry', 'Cholet', 'Ch√¢teaur']

In [75]:
ville = villes[0]
ville.upper() if ville[0] <= 'M' else ville.lower()

'BAYONNE'

In [76]:
# faire √ßa pour toutes les villes => nouvelle liste
[
    (ville.upper() if ville <= 'M' else ville.lower()) 
    for ville in villes
]

['BAYONNE',
 'BORDEAUX',
 'CHAMB√âRY',
 'CHOLET',
 'CH√ÇTEAUROUX',
 "L'HA≈∏-LES-ROSES",
 'LA ROCHELLE',
 'montauban',
 'mont√©limard',
 'rennes',
 'saint-etienne',
 'BORDES']

In [77]:
[
    (ville.upper() if ville <= 'M' else ville.lower()) 
    for ville in villes
    if len(ville) < 10
]

['BAYONNE', 'BORDEAUX', 'CHAMB√âRY', 'CHOLET', 'montauban', 'rennes', 'BORDES']

## Tuple
- cousin de la liste
- NON modifiable
- on peut accepter des donn√©es h√©t√©rog√®nes

In [78]:
ville_t1 = ('Toulouse', 511_684, '31')
ville_t2 = 'Pau', 78_620, '64'

In [79]:
print(ville_t1)
print(ville_t2)

('Toulouse', 511684, '31')
('Pau', 78620, '64')

In [80]:
len(ville_t1)

3

In [81]:
ville_t1[0]

'Toulouse'

In [83]:
# ville_t1[1] += 1000 # TypeError: 'tuple' object does not support item assignment
# => construire un nouveau tuple
ville_t1 = (ville_t1[0], ville_t1[1] + 1000, ville_t1[2])
ville_t1

('Toulouse', 513684, '31')

In [84]:
# peu de m√©thodes
ville_t1.index('31')

2

In [85]:
# avantage: s√©mantique √† chaque case
# 0 : nom
# 1 : population
# 2 : dept
ville_t1: tuple[str, int, str] = ('Toulouse', 511_684, '31')

In [91]:
for ville_t in ville_t1, ville_t2:
    print(f'Nom : {ville_t[0]}, population : {ville_t[1]}, d√©partement : {ville_t[2]}')

Nom : Toulouse, population : 511684, d√©partement : 31
Nom : Pau, population : 78620, d√©partement : 64

In [90]:
ville_t1, ville_t2

(('Toulouse', 511684, '31'), ('Pau', 78620, '64'))